/* CSS declarations go here */
ul li{
  list-style: none;
  padding: 10px 3px;
  font-size: 24px;
padding: 7px 15px 7px 50px;
line-height: 21px;
border-bottom: 1px solid #e6ebed;
}
h1{
  margin-left: 30px;
}
.container{
  margin-top: 40px;
}
#input-todo, #add-todo{
  margin: 10px;
}

.todo-list{
  margin: 0;
}

.todo {
  position: relative;
  padding: 12px 0;
  background: #fff;
  border: 1px solid;
  border-color: #dfdcdc #d9d6d6 #ccc;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}


.todo:before {
  left: 2px;
  right: 2px;
  bottom: -5px;
  border-color: #c4c4c4;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.todo:before, .todo:after {
  content: '';
  position: absolute;
  z-index: -1;
  height: 4px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 2px;
}