ul li{
  list-style: none;
  font-size: 24px;
  padding: 15px 15px 15px 0;
  border-bottom: 1px solid #e6ebed;
}

h1{
  margin-left: 30px;
}

legend {
  font-size: 30px;
}

.container{
  margin-top: 40px;
}

#input-todo, #add-todo{
  margin: 0px;
}

.todo-list{
  margin: 20px 0 0 0;
}

.delete-todo {
  color: rgb(255, 102, 102);
  font-weight: 700;
}

.todo {
 
}